@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&family=Ubuntu+Mono&display=swap');

:root {
	--font-heading: 'EB Garamond', garamond;
	--font-text: 'Montserrat', arial;
	--font-accent: 'Ubuntu Mono', monospace;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-family: var(--font-heading);
}

p {
	font-family: var(--font-text);
}

a,
li,
h4 {
	font-family: var(--font-accent);
}
